.header {
    background-color: #D2DAFF;
    /* background-color: #B1B2FF; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.header-action{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 25%;
}

h3{
    /* margin : 0; */
    width: 10%;
    text-align: center;
    color: rgb(1, 16, 33);
}

.header-action button {
    background-color: rgb(150, 71, 71);
}

.header-action button:hover{
    background-color: indigo;
}

.header-link{
    cursor: pointer;
    text-decoration: none;
    color: rgb(128, 0, 0);
    border: 1px solid #9a763cbd;
    border-radius: 2px;
    padding: 1.9%;
}

.header-link:hover{
    background-color: #9a763cbd;
}

